html {
    height: 100%;
}

body {
    font-family: Sunflower;
    margin-top: 50px;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

.project {
    margin-top: 10px;
}

@media (min-width: 992px) {
    #right {
        padding-left: 40px;
    }
}

#banner {
    background: #afafafaf;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    height: 100px;
}

#banner-title {
    font-size: 2.5rem;
    line-height: 100px;
}

#sidebar {
    text-align: center;
}

#description {
    text-align: left;
}

#contact {
    text-align: left;
    list-style: none;
    padding: 0px;
}

#contact-hr {
    margin-bottom: 10px;
}

#headshot {
    border-radius: 50%;
    width: 250px;
    margin: 20px 0px 20px 0px;
}